body {
    font-family:ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    margin: 0;
    padding: 0;
    background-color:#18181A
}

header {
    width: 100%;
    height: 80px;
    background-color: #18181A;
}

.header-principal{
    margin-top: 20px;
    display: flex;
    text-align: center;
    gap: 10px;
}

.Nav{
    width: 940px;
    height: 160px;

    display: flex;
    flex-direction: row;
   
}

.enlaces {
    width: 300px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.enlaces a{
    text-decoration: none;
    display: flex;
    flex-direction:row;
    text-align: center;
    margin-right: 20px;
    color: white;
}

.enlaces img {
    width: 160px;
    height: 160px;
}

.e2{
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140px;
    height: 40px;
    justify-content: center;

}

header nav .registro{
    width: 80%;
    padding-left: 0px;
    display: flex;
    flex-direction: row-reverse;
}

.Bienvenida{
    font-size: 80px;
    color: #FFFFFF;
    display: flex;
    flex-direction:row;
    align-items: center;
    padding-top: 130px;
    width: auto;
    height: auto;
    text-align: center;
    justify-content:center;

}

.Bienvenida2{
    font-size: 80px;
    color: #FFFFFF;
    display: flex;
    flex-direction:row;
    align-items: center;
    width: 1870px;
    height: 100px;
    text-align: center;
    justify-content:center;
    margin: 0;

}



.registro {
    width: auto;
    height: auto;
    display: flex;
    list-style: none;
    justify-content:space-between;
    align-items: center;
}

.registro a{
    text-decoration: none;
    display: flex;
    flex-direction:row;
    text-align: center;
    margin-right: 5px;
    color: white;
}

.e3{
    font-size: 40px;
    color: #FFFFFF;
    display: flex;
    flex-direction:row;
    align-items: center;
    width: auto;
    height: 60px;
    text-align: center;
    justify-content:center;
}

.Registro{
    height: auto;
    width: auto;
    margin: auto;
    padding: 0px 0; 
    padding-bottom: 0;   
}

.Titulo{
    font-size: 60px;
    color: #FFFFFF;
    display: flex;
    flex-direction:row;
    align-items: center;
    width: auto;
    height: auto;
    padding-top: 40px;
    text-align: center;
    justify-content:center;

}

.Fondo{
    display: grid;
    border-radius: 50px;
    background-size: cover;
    height: 600px;
    width: auto;
    font-weight: bold;
    position: relative;
    overflow: hidden;

  
    
}

.Formulario{
    margin: 0px;
    padding: 0px 0;
    display: grid;

}

input{
    width: auto;
    height: auto;
    margin: 10px 300px;
    border-radius: 50px;
    background-color: #4E4E4E;
    color: #FFFFFF;
    font-size: 20px;

}

.nombre{
    color: #FFFFFF;
    font-size: 25px;
    margin: 0 300px; 
    

}

.nombre1 {
    color: #FFFFFF;
    font-size: 25px;
    margin: 0px 300px; 
    margin-top: 50px;
    

}

.Boton {
    width: 80px;
    height: 50px;
    border-radius: 50px;
    background-color: #4E4E4E;
    color: #FFFFFF;
    font-size: 18px;
    margin-left: 300px;
    margin-top: 20px;
    
    
}

.Boton2 {
    width: 80px;
    height: 50px;
    border-radius: 50px;
    background-color: #4E4E4E;
    color: #FFFFFF;
    font-size: 18px;
    margin-left: 300px;
    margin-top: 20px;
    
    
}
.Boton3 {
    width: 80px;
    height: 50px;
    border-radius: 50px;
    background-color: #4E4E4E;
    color: #FFFFFF;
    font-size: 18px;
    margin-left:20px;
    margin-top: 20px;
    
    
}


footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content {
    font-size: 15px;
    max-width: 500px;
    margin: 0 auto;
}

.social-media {
    margin-top: 10px;
}

.social-media a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

.social-media a:hover {
    color: #ccc;
}

.fab {
    font-size: 20px;
}


.tabla{

    grid-template-columns: repeat(2, 2fr);
    background-position: center center;
    width: auto;
    padding-left: 300px;
    padding-right: 0px;
    padding-top: 0px;
    color:#FFFFFF;
    font-size: 20px;
}

.identificador{

    text-align: start;
    padding-right: 30px;
}

.boton1 {
    width: 60px;
    height: 30px;
    border-radius: 0px;
    background-color: #4E4E4E;
    color: #FFFFFF;
    font-size: 10px;
}

.td1 {
    padding-top: 0px;
    padding-left: 20px;

}

.datos{
    padding-left: 0px;
    padding-right: 20px;
}


@media screen and (max-width: 900px){
  
    header nav .registro{
    width: 90%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    }

    a.e3{
        font-size: 30px;
    }

    ul.enlaces{
        padding-left: 25px;
         justify-content:flex-start;
        
    }

    .enlaces img{
        width: 140px;
        height: 140px;
        
    }

   .Bienvenida{
    font-size: 60px;
    padding-top: 130px;
    width: auto;
    height: auto;
    text-align: center;
    justify-content:center;

    }

    .Bienvenida2{
    font-size: 60px;
    width: 900px;
    height: 100px;
    text-align: center;
    justify-content:center
    }

    .Fondo{
    display: grid;
    border-radius: 50px;
    background-size: cover;
    height: 600px;
    width: auto;
    font-weight: bold;
    position: relative;
    overflow: hidden;

    }

    .Titulo{
    font-size: 50px;
    width: 800px;
    height: 80px;
    padding-top: 40px;
    text-align: center;
    justify-content:center;

    }

    .nombre{
    color: #FFFFFF;
    font-size: 20px;
    margin: 0 80px; 
    

    }

    .nombre1 {
    color: #FFFFFF;
    font-size: 20px;
    margin: 0px 80px; 
    margin-top: 50px;
    

    }

    input{
    width: 630px;
    height: 25px;
    margin: 10px 80px;
   

    }

    .Boton {
    margin-left: 80px;
    
    }

    .tabla{
    width: 700px;
    padding-left: 80px;
    font-size: 15px;
    padding-right: 80px;
    }

    .identificador{
     width: 200px;   
    text-align: start;
    padding-left: 0px;
    padding-right: 15px;
    }

    .boton1 {
    width: 60px;
    height: 30px;
    font-size: 10px;

    }

    .datos{
        font-size: 15px;
    }

    .Boton2 {
    width: 80px;
    height: 50px;
    border-radius: 50px;
    background-color: #4E4E4E;
    color: #FFFFFF;
    font-size: 18px;
    margin-left: 80px;
    margin-top: 20px;
    
    
    }
    .Boton3 {
    width: 80px;
    height: 50px;
    border-radius: 50px;
    background-color: #4E4E4E;
    color: #FFFFFF;
    font-size: 18px;
    margin-left:20px;
    margin-top: 20px;
    
    
}
    
}

@media screen and (max-width: 800px){

     nav{
    width: 840px;
    height: 120px;

    display: flex;
    flex-direction: row;
   
    }

    ul.registro{
        padding-left: 0px;
        width: 400px;
        height: 88px;
    }

    header nav .registro{
    width: 380px;
    height: 88px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    }

    a.e3{
        font-size: 30px;
        width: 400px;
        padding-left: 50px;
    }

    ul.enlaces{
        padding-left: 25px;
         justify-content:flex-start;
        
    }

    .enlaces img{
        width: 120px;
        height: 120px;
        
    }

    .Bienvenida{
    font-size: 50px;
    padding-top: 130px;
    width: 700px;
    height: 100px;
    text-align: center;
    justify-content:center;

    }

     .Fondo{
    display: grid;
    border-radius: 50px;
    background-size: cover;
    height: 600px;
    width: auto;
    font-weight: bold;
    position: relative;
    overflow: hidden;

    }

    .Titulo{
    font-size: 50px;
    width: 700px;
    height: 80px;
    padding-top: 40px;
    text-align: center;
    justify-content:center;

    }

    .nombre{
    color: #FFFFFF;
    font-size: 17px;
    margin: 0 50px; 
    

    }

    .nombre1 {
    color: #FFFFFF;
    font-size: 17px;
    margin: 0px 50px; 
    margin-top: 50px;
    

    }

    input{
    font-size: 17px;
    width: 600px;
    height: 25px;
    margin: 10px 50px;
   

    }

    .Boton {
    font-size: 15px;
    margin-left: 50px;
    width: 60px;
    height: 40px;
    border-radius: 50px;
    
    }

    .tabla{
    width: 700px;
    padding-left: 50px;
    font-size: 15px;
    padding-right: 0px;
    }

    .identificador{
     width: 200px;   
    text-align: start;
    padding-left: 0px;
    }

    .boton1 {
    width: 60px;
    height: 30px;
    font-size: 10px;

    }

    .td1 {
        padding-left: 0px;
    }

    .datos{
        font-size: 15px;
        padding-left: 0px;
        padding-right: 15px;
    }

    .Boton2 {
    width: 60px;
    height: 40px;
    border-radius: 50px;
    background-color: #4E4E4E;
    color: #FFFFFF;
    font-size: 14px;
    margin-left: 50px;
    margin-top: 20px;
    
    
    }
    .Boton3 {
    width: 60px;
    height: 40px;
    border-radius: 50px;
    background-color: #4E4E4E;
    color: #FFFFFF;
    font-size: 14px;
    margin-left:10px;
    margin-top: 20px;
    
    
    }
}      

@media screen and (max-width: 700px){

     nav{
    width: 840px;
    height: 120px;

    display: flex;
    flex-direction: row;
   
    }


    header nav .registro{
    width: 250px;
    height: 88px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    padding-left: 50px;
    }

    a.e3{
        font-size: 30px;
        width: 280px;
        padding-left: 0px;
    }

    ul.enlaces{
        width: 270px;
        padding-left: 25px;
         justify-content:flex-start;
        
    }

    .enlaces img{
        width: 120px;
        height: 120px;
        
    }

    .Bienvenida{
    font-size: 50px;
    padding-top: 130px;
    width: auto;
    height: auto;
    text-align: center;
    justify-content:center;

    }

    .Bienvenida2{
    font-size: 50px;
    width: 900px;
    height: 100px;
    text-align: center;
    justify-content:center
    }

    .Fondo{
    display: grid;
    border-radius: 50px;
    background-size: cover;
    height: 600px;
    width: auto;
    font-weight: bold;
    position: relative;
    overflow: hidden;

    }

    .Titulo{
    font-size: 40px;
    width: 600px;
    height: 80px;
    padding-top: 40px;
    text-align: center;
    justify-content:center;

    }

    .nombre{
    color: #FFFFFF;
    font-size: 17px;
    margin: 0 30px; 
    

    }

    .nombre1 {
    color: #FFFFFF;
    font-size: 17px;
    margin: 0px 30px; 
    margin-top: 50px;
    

    }

    input{
    font-size: 17px;
    width: auto;
    height: 25px;
    margin: 10px 30px;
   

    }

    .Boton {
    font-size: 10px;
    margin-left: 30px;
    width: 60px;
    height: 40px;
    border-radius: 50px;
    
    }

    .tabla{
    width: 400px;
    padding-left: 10px;
    font-size: 13px;
    }

    .identificador{
     width: 200px;   
    text-align: start;
    padding-right: 0px;
    padding-left: 15px;
    }

    .boton1 {
    width: 50px;
    height: 30px;
    font-size: 10px;

    }

    .td1 {
        padding-left: 5px;
    }

    .datos{
        padding-left: 15px;
        padding-right: 0px;
        font-size: 13px;
    }
    
    footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    }


    .footer-content {
    font-size: 15px;
    max-width: 500px;
    margin: 0 auto;
    }



    .Boton2 {
    width: 60px;
    height: 40px;
    border-radius: 50px;
    background-color: #4E4E4E;
    color: #FFFFFF;
    font-size: 14px;
    margin-left: 30px;
    margin-top: 10px;
    
    
    }
    .Boton3 {
    width: 60px;
    height: 40px;
    border-radius: 50px;
    background-color: #4E4E4E;
    color: #FFFFFF;
    font-size: 14px;
    margin-left:10px;
    margin-top: 10px;
    
    
    }
}

@media screen and (max-width: 600px){

     nav{
    width: 840px;
    height: 120px;

    display: flex;
    flex-direction: row;
   
    }

    ul.registro{
        padding-left: 0px;
        width: 300px;
        height: 88px;
    }

    header nav .registro{
    width: 240px;
    height: 88px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    }

    a.e3{
        font-size: 25px;
        margin: 0px;
        width: 240px;
        padding-left: 0px;
    }

    ul.enlaces{
        width: 150px;
        padding-left: 25px;
        justify-content:flex-start;
        
    }

    .enlaces img{
        width: 110px;
        height: 110px;
        
    }

    .Bienvenida{
    font-size: 40px;
    padding-top: 130px;
    width: auto;
    height: 100px;
    text-align: center;
    justify-content:center;

    }

    .Bienvenida2{
    font-size: 45px;
    width: 900px;
    height: 100px;
    text-align: center;
    justify-content:center
    }

   

    .Fondo{
    display: grid;
    border-radius: 50px;
    background-size: cover;
    height: 600px;
    width: auto;
    font-weight: bold;
    position: relative;
    overflow: hidden;

    }

    .Titulo{
    font-size: 30px;
    width: 500px;
    height: 80px;
    padding-top: 40px;
    text-align: center;
    justify-content:center;

    }

    .nombre{
    color: #FFFFFF;
    font-size: 17px;
    margin: 0 20px; 
    

    }

    .nombre1 {
    color: #FFFFFF;
    font-size: 17px;
    margin: 0px 20px; 
    margin-top: 0px;
    

    }

    input{
    font-size: 17px;
    width: auto;
    height: 25px;
    margin: 10px 20px;
   

    }

    .Boton {
    font-size: 10px;
    margin-left: 20px;
    width: 60px;
    height: 40px;
    border-radius: 50px;
    
    }

   
    .tabla{
    width: 200px;
    padding-left: 10px;
    font-size: 10px;
    }

    .identificador{
     width: 180px;   
    text-align: start;
    padding-right: 0px;
    padding-left: 10px;
    }

    .boton1 {
    width: 50px;
    height: 25px;
    font-size: 9px;

    }

    .td1 {
        padding-left: 0px
    }

    .datos{
        font-size: 10px;
    }

    
    .Boton2 {
    width: 60px;
    height: 40px;
    border-radius: 50px;
    background-color: #4E4E4E;
    color: #FFFFFF;
    font-size: 10px;
    margin-left: 20px;
    margin-top: 10px;
    
    
    }
    .Boton3 {
    width: 60px;
    height: 40px;
    border-radius: 50px;
    background-color: #4E4E4E;
    color: #FFFFFF;
    font-size: 10px;
    margin-left:10px;
    margin-top: 10px;


    }
}

    footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
@media screen and (max-width: 500px){

     nav{
    width: 840px;
    height: 120px;

    display: flex;
    flex-direction: row;
   
    }

    ul.registro{
        padding-left: 0px;
        width: 300px;
        height: 88px;
    }

    header nav .registro{
    width: 200px;
    height: 88px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    padding-left: 20px;
    }

    a.e3{
        font-size: 20px;
        margin: 0px;
        width: 200px;
        padding-left: 0px;
    }

    ul.enlaces{
        width: 150px;
        padding-left: 10px;
        justify-content:flex-start;
        
    }

    .enlaces img{
        width: 100px;
        height: 100px;
        
    }

    .Bienvenida{
    font-size: 40px;
    padding-top: 130px;
    width: auto;
    height: 100px;
    text-align: center;
    justify-content:center;

    }

    .Bienvenida2{
    font-size: 37px;
    width: 900px;
    height: 100px;
    text-align: center;
    justify-content:center
    }

     .Fondo{
    display: grid;
    border-radius: 50px;
    background-size: cover;
    height: 600px;
    width: auto;
    font-weight: bold;
    position: relative;
    overflow: hidden;

    }

    .Titulo{
    font-size: 30px;
    width: 400px;
    height: 80px;
    padding-top: 40px;
    text-align: center;
    justify-content:center;

    }

    .nombre{
    color: #FFFFFF;
    font-size: 15px;
    margin: 0 20px; 
    

    }

    .nombre1 {
    color: #FFFFFF;
    font-size: 15px;
    margin: 0px 20px; 
    margin-top: 0px;
    

    }

    input{
    font-size: 17px;
    width: auto;
    height: 25px;
    margin: 10px 20px;
   

    }

    .Boton {
    font-size: 10px;
    margin-left: 20px;
    width: 60px;
    height: 40px;
    border-radius: 50px;
    
    }

 .tabla{
    width: 100px;
    padding-left: 10px;
    font-size: 10px;
    }

    .identificador{
     width: 120px;   
    text-align: start;
    padding-right: 0px;
    padding-left: 5px;
    }

    .boton1 {
    width: 40px;
    height: 25px;
    font-size: 8px;

    }

    .td1 {
        padding-left: 0px;
        padding-top: 0px
    }

    .datos{
        padding-left: 5px;
        font-size: 9px;
    }
    

}